body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}
.board-container {
  width: 500px;
  height: 400px;
  margin: 50px;
}
.board-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.score-board {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 18px;
}
.winner-conatiner {
  display: flex;
  justify-content: space-evenly;
}
.play-again-button {
  background-color: rgb(41, 41, 40);
  color: white;
  border: 1px solid antiquewhite;
  border-radius: 10px;
  width: 80px;
}
